/* Break points */
$desktop: new-breakpoint(max-width 1400px 4);
$laptop: new-breakpoint(max-width 900px 4);
$tablet: new-breakpoint(max-width 700px 4);
$mobile: new-breakpoint(max-width 480px 4);


/* Custom Colors*/


$orange: #ed6737;



/* Custom Shapes*/
@mixin border-radius($radius) {
@include border-top-radius($radius);
@include border-right-radius($radius);
@include border-bottom-radius($radius);
@include border-left-radius($radius);
}




/* GENERALL STYLES*/

html, body {; 
  margin: 0;
  height: 100%
}
.button-simple { 
  color: $dark-gray!important; 
  padding: 5px 20px ;
  text-transform: uppercase;
}
.button-simple-reversed { 
  color: white!important; 
  padding: 5px 20px ;
  text-transform: uppercase;
}
button, input[type="button"], input[type="reset"], input[type="submit"], button {
  @include linear-gradient(#ff7d47, #ed6737);  
  padding: 10px 25px;
}
.button {
  @include linear-gradient(#ff7d47, #ed6737);  
  color: white!important; 
  padding: 10px 25px;
  text-shadow: none;
  box-shadow: none;
  border: none;
  @include border-top-radius(10px);
  @include border-right-radius(10px);
  @include border-bottom-radius(10px);
  @include border-left-radius(10px);
}
.tcenter {text-align: center;}
article.type-system-sans hr {width: 100%;}
.label-switch input[type="checkbox"]:checked + .checkbox { background: $dark-gray;}

article.type-system-sans h1 {
  color: $orange;
}

/* Navigation */
header.navigation .logo {
  height: 80px;
  width: auto;
  padding: 5px;
}
header.navigation ul li.nav-link a {}
.header-page { 
  background-color: $light-gray;
  text-align: center;
  padding: 10px;
}
article.type-system-sans .header-page h2 { margin: 0;}
article.type-system-sans a { color: $orange;}
.content { margin-bottom: 80px;}

/*  HOME PAGE */

.container-homepage {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -100;
  @include media($mobile) {
    width: 300%;
    background: red;
  }
  img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
}

.search_bar-homepage {
  margin-top: 5%;
}
header.navigation.navigation-homepage {
  background: none;
  border-bottom: 1px solid #2D2D2D;
  ul li.nav-link a {
    color: white;
  }
}


.logo-quotes {
  text-align: center;
  h1,h2,h3 {
    color: white;
  }
  margin-top: 10%;
}



/* Blocks - Layout */

.container{
  @include outer-container(100%);
  padding-top: 20px;
}
.left_block {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
  @include media($laptop) {
    @include span-columns(12);
  }
}
.right_block {
  @include span-columns(8);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.center {
  @include outer-container(60%);
  @include media($laptop) {
    @include outer-container(80%);
  }
 }

.form-center {
    @include outer-container(50%);
    padding: 50px;
    @include media($laptop) {
    @include outer-container(60%);
  }
}

.course-overview {
  padding-top: 30px;
  @include span-columns(8);
  @include media($mobile) {
    @include span-columns(12);
  }
  @include media($laptop) {
    @include span-columns(12);
  }
}

.author-course-overview {
  padding-top: 30px;
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.col-2
{
  @include span-columns(2);
  @include media($mobile) {
    @include span-columns(12);
  }
}
.col-3
{
  @include span-columns(3);
  @include media($mobile) {
    @include span-columns(12);
  }
}

/*
.course-content {
  padding: 10%;
}*/

 .content, .course-searches, .keywords {
  clear: both;
 }
 .content {}
 .course-searches {width: 100%;}


 /* ====   Search Elements =====*/
 /* Main Search */
.search_wrapper { 
  background: $dark-gray;
  @include span-columns(12);
}
.search_bar { 
  padding: 10px;
}
.keyword_search {
  min-height: 58px;
  background: $light-gray;
  @include border-top-radius(10px);
  @include border-right-radius(10px);
  @include border-bottom-radius(10px);
  @include border-left-radius(10px);
  margin-bottom: 20px;
}
.search_bar_message {
    @include span-columns(4);
    color: white;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
 }
 .search_bar_field {
    @include span-columns(4); 
 }

 /* Search - Default */

 .search-field {
  @include span-columns(5);
  @include shift(2);
  color: $dark-gray;
 }
 .search-btn{
  @include span-columns(3); 
 }
 .search-checkbox {
  @include span-columns(2);
    :hover{
      background:red;
    };
 }
 .tags {
  clear: both;
 }


 /* Alphabet Search */

.alphabet-search-pulldown {
  height: 20px;
  display: block;
  width: 300px;
  margin: auto; 
  margin-bottom: 40px;
  text-align: center;
  min-height: 15px;
  border-top: 1px solid #e3e3e4;
}



/* === User Section ===*/

.nav-user-pic  { 
  line-height: 0;
 img { 
    width: 40px; 
    height: 40px;
    background-size: contain; 
    margin-bottom: -15px;
  }
}


/* Logs */
.userlog { 
  @include outer-container(70%);
  padding: 70px;
  background: $light-gray;
  margin-top: 50px;
}

.signup {
  background-color: #a59191;
  min-height: 900px;
  padding-top: 20px;  
}


button { 
  @include button(pill);
}


.vertical-tabs-container .vertical-tab.chapter-tab {
  font-weight: 400;
  font-size: 1.2em;
  color: $dark-gray;
}


.vertical-tabs-container .vertical-tab.lesson-tab {
  font-weight: 400;
  font-size: 1em;
  padding-left: 50px;
  color: #777777;
}

.add-lesson{
  float: left;
  margin:15px;
  &:hover{
    color: black;
  };
}
.vertical-tabs-container .vertical-tab.is-active {
  font-weight: bold;
  position: relative;
  background-color: transparent;
  &:after{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -13px;
    background: image-url("arrow-right-tab.png");
  };
}



/* =======  Course Page =========*/


.course-content {
  @include span-columns(11);
}
.course-toolbar {
  background-color: #e6e7e8;
  min-height: 400px;
  @include span-columns(1);
}
.vertical-tabs-container .vertical-tab-content-container.course-content {
  height: auto;
  padding: 3% 20% 10% 10%; 
}
.course-toolbar {
  text-align: center;
  position: fixed;
  right: 0;
  top: 50%;
  width: 84px;
  margin-top: -200px;
  @include border-top-radius(15px);
  @include border-right-radius(0px);
  @include border-bottom-radius(0px);
  @include border-left-radius(15px);
  .course-toolbar-item{
    margin-top: 10%;
    img { 
      width: 50%;
      height: auto;
      @include media($laptop) {
        width: 80%;
      }
    }
  }
}
.vertical-tabs-container .vertical-tab-content-container.course-tab-content-container {
  background-color: #ffffff;
  min-height: 600px;
}
.vertical-tabs-container .vertical-tab-content.course-tab-content {
  background-color: #ffffff;
}

.vertical-tabs-container {
  border: none;
}
.vertical-tabs-container .vertical-tab-content-container { background-color: white;}
.alphabet_search {
  padding: 30px 30px 50px; 
  &:after{
    content: "";
    display: block;
    clear: both;
  };
  ul {
    text-align: center;
    li {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin: 5px;
      a.alphabet-link { 
        color: $orange;
        padding: 12px;
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        &:hover {
          background-color: $orange ;
          color: white;
          @include border-radius(50%);
        };
      }
    }
  }
}

.add-lesson-btn, .add-chapter-btn { 
  display: block;
  background: $light-gray; 
  color: #999!important; 
  margin-bottom: 1px;
}

#text-form {
  padding: 20px 0;
  input {
    width: 100%;
    min-height: 200px;
    text-align: left; 
    padding: 20px;
  }
}

.grid-items-lines {min-height: 400px;}

/* Fade In Element */



.fade-in-element {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  
  line-height: $base-line-height;

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  @include clearfix;
  background: $base-background-color;
  border-radius: $base-border-radius;
  border: 1px solid silver;
  box-shadow: 0 2px 2px transparentize(black, 0.8);
  margin-bottom: 4em;
  padding: $base-spacing;
  text-align: center;
  width: 100%;

}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  @include transition (all 0.4s ease-in-out);
  opacity: 1;
}



/* parallax */


$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 6em 0 8em;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: image-url("section-hero-image.jpg");
  background-position: top;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top:  -$parallax-window-height/3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/



/* Hover title animation */


.hover-tile-outer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  
  h4 {
    margin: 0;
  }

  p {
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $hover-tile-height: 10em;

  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: top;
  background-size: cover;
  background-color: beige;
  border: 1px solid $base-border-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  
  @include media($medium-screen) {
    width: 40%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.5);

    p {
      color: transparentize(#fff, 0.3);
    }

    h4 {
      margin-bottom: 0.5em;
    }
  }
}


/* Pagination */

.pagination {
  height:  30px;
}

.previous_page {
float: left;  
}

.next_page {
float: right;
}


/* Course Overview */

.course-overview-stats {
  padding: 10px 0;
}
.course-overview-description {
  padding: 20px 0;
}


/* Student Courses */


.bookshelf-button {
  padding: 4px 20px;
  float: right;

  img { vertical-align: middle;}
}


/* About Page */

.about-section-icons {
  background-color: $orange;
  &:before {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   height: 400px;
   width: 100%;
   background-color: $orange;
   z-index: -1000;
  };

  &:after {
   content: "";
   clear: both;
   display: table;
   margin-bottom:  30px;
  };

}
.about-section-icon {
 text-align: center;
 @include border-top-radius(10px);
 @include border-right-radius(10px);
 @include border-bottom-radius(10px);
 @include border-left-radius(10px);
 border: 1px solid $light-gray;
 margin-bottom: 20px;
 margin-top: 40px;
 padding: 15px;
 min-height:  300px;
 background-color: white; 

}

.about-content {
  h1, h2, h3, p{
    text-align: center;
  }
}

/* Parallax Overwrite */

article.type-system-sans h1 .about-message {
  font-size: 2em;
  color: white;
}

article.type-system-sans .button-hero-image {
  background: white;
  color: $orange!important;
  margin: 15px;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: bold;
}


/* Sticky Footer */
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
   padding-bottom: 200px;}  /* must be same height as the footer */

#footer {position: relative;
   margin-top: -200px; /* negative value of footer height */
   height: 200px;
   clear:both;
   padding: 20px;
 } 
/*end sticky footer */

.footer-wrapper {
  position: relative;
  background-color: #333;
  color: $light-gray;
  text-align: center;
  p{
    color: $light-gray!important;
    text-align: center;
  }
  .container {
    text-align: center;
  }
}
/* Footer about Page only */
.footer-about-wrapper {
  margin-bottom: -80px;
}
#footer-about { 
  padding: 30px;
  height: 200px; 
  clear: both;
}



/*  Chapters and Lesson on Course */

.add-chapter-btn {
  float: left;
  background-color: none;
  padding: 0;
}


.editable {
  color: $dark-gray;
  border: 1px dashed $light-gray;
  padding: 8px;
  iframe {
    width: 100%;
    height: 500px;
    @include media($mobile) {
      height:159px;
    }
    @include media($desktop){
      height:359px;
    } 
  }

}
.editable-click:hover, a.editable-click:hover {
  color: black;
  border: 1px dashed $dark-gray;
}

.editable-wrap {
  width: 100%;
  .editable-input {
    width: 100%;
    min-height:150px;
  }
}
.editable-buttons {
  button {
    background: $dark-gray;
    border: black;
    padding: 5px 15px;
    font-size: .9em;
    box-shadow: none;
    &:hover {
      background: $dark-gray;
      border: black;
      padding: 5px 15px;
      font-size: .9em;
      box-shadow: none;
    };
  }
}



